{% extends 'base.html' %}
{% block title %}Пользователь{% endblock %}

{% block menu %}
{% endblock %}

{% block content %}
    <h1>Личная страница пользователя {{ user_obj.get_full_name|default:user_obj.username }}</h1>
    <img src="{{ user_obj.avatar }}" alt="" style="height: 400px; width: 600px;padding-top: 30px"
         class="img-fluid">
    <p>Имя пользователя: {{ user_obj.username }}</p>
    <p>Имя: {{ user_obj.first_name }}</p>
    <p>Фамилия: {{ user_obj.last_name }}</p>
    <p>Почта: {{ user_obj.email }}</p>
 {% if request.user.is_authenticated %}
        {% if request.user != user_obj %}
            <form method="POST" action="{% url 'subscribe' user_obj.id %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">
                    {% if request.user in user_obj.subscriptions.all %}
                        Unfollow
                    {% else %}
                        Follow
                    {% endif %}
                </button>
            </form>
        {% endif %}
    {% endif %}
{% endblock %}