{% extends 'base.html' %}
{% block title %}Пользователь{% endblock %}

{% block menu %}
{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-4">
            <div class="card">
                <div class="card-body wide">
                    <h5 class="card-title">{{ user_obj.username }}</h5>
                    <div class="text-center">
                        <img src="{{ user_obj.avatar }}" alt="{{ user_obj.username }} avatar" class="rounded-circle"
                             style="width: 120px; height: 120px; margin-right: 600px">
                    </div>
                    <p class="card-text">SEX: {{ user_obj.sex }}</p>
                    {% if request.user.is_authenticated %}
                        {% if request.user != user_obj %}
                            <form method="POST" action="{% url 'subscribe' user_obj.id %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-primary" style="margin-top: 10px">
                                    {% if request.user in user_obj.subscriptions.all %}
                                        Unfollow
                                    {% else %}
                                        Follow
                                    {% endif %}
                                </button>
                            </form>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-8">
            {% for post in user_obj.posts.all %}
                <div class="card mb-3">
                    <div class="card-header">
                        <img src="{{ post.image }}" class="card-img-top" style="width: 270px; height: 150px"
                             alt="...">
                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{ post.author }}</h5>
                        <p class="card-text">{{ post.description }}</p>
                    </div>
                </div>
            {% empty %}
                <p>Нет публикаций.</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}